.movie {
  height: 200px;
  width: 100px;
  /* border: solid yellow; */
  margin: 10px;
}

.poster-image {
  max-height: 80%;
  margin-bottom: 0px;
}

.movie-title {
  margin-top: 5%;
  font-size: 12px;
  color: white;
  margin-bottom: 0px;
}

.movie-rating {
  color: white;
  font-size: 11px;
  /* padding-bottom: 4px; */
}

.fa-star, 
.fa-solid {
  color: gold;
  margin-left: 2px;
}
