.movie {
  height: 200px;
  width: 100px;
  margin: 10px;
}

.poster-image {
  max-height: 80%;
  margin-bottom: 0px;
}

.movie-title {
  margin-top: 5%;
  font-size: 12px;
  color: white;
  margin-bottom: 0px;
  text-shadow: #000000 6px 5px 6px;
}

.movie-rating {
  color: white;
  font-size: 11px;
}

.fa-star, 
.fa-solid {
  color: gold;
  margin-left: 2px;
  text-shadow: #000000 6px 5px 6px;
}
